html, body {
  width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face{
    font-family: Krabby Patty;
    src: url(krabbypatty.ttf);
}

body{
    /* background-color: rgb(185, 185, 185); */
    background-image: url("view/background-1.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 1500px;
    background-position: center;
}

nav{
    margin-top: 0px;
    background-color: #0457A0;
    
    height: 80px;
    width: 100%;
}

.logo{
    width: 50px;
    border-radius: 50px;
    margin: 13px;
    position: absolute;
}

#name{
    /* padding: 12px 0px 20px 55px; */
    margin: 22px;
    margin-left: 78px;
    position: absolute;
    color: #E4000F;
    font-size: 25px;
    float: left;
    font-family: Krabby Patty;
}


nav ul{
    padding-top: 20px;
    padding-left: 230px;
    float:left;
    font-size: 15px;
}
nav ul li{
    margin-left: 20px;
    padding: 10px 10px;
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    transition: color .2s ease;
}

nav ul li a::after{
    content: "";
    
    font-size: 20px;
    display: block;
    transition: width .5s ease;
}

nav ul li a:hover{
/*    color:rgb(173, 173, 173);*/
    color: #E54B4A;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color:  rgb(83, 126, 145);
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    top: 40px;
    left: 0%;
    z-index: 9999;
}

nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    width: 180px;
    margin-left: 0px;
    border-radius: 10px;
}
nav ul li ul li a{
    font-size: 12px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul li ul li a:hover{
    background-color: #f3f3f3;
}  

#main-krabs{
    text-align: center;
    background: #b8860b;
    opacity: 0.9;
}

#main-krabs-img{
    width: 250px;
    height: 250px;
    background: rgba(229, 229, 255, 0.7);
    margin: 20px;
    border-radius: 50%;
}

#main-krabs-more{
    background: #b8860b;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

#main-krabs-more::after{
    content: "";
    clear:both;
    display: table;
}

.main-krabsemploy-img{
    float: left;
    width: 450;
    padding: 5px;
}

#main-pride-img{
    width: 300px;
    height: 250px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(229, 229, 255, 0.7);
}

#main-employ1-img{
    width: 300px;
    height: 250px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(229, 229, 255, 0.7);
}

#main-employ2-img{
    width: 300px;
    height: 250px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(229, 229, 255, 0.7);
}

#main-krabs-name{  
   margin: 20px; 
    color: black;
}

h1{
    margin-top: 20px;
    font-family: Verdana;
}

#about-krabs{
    text-align: center;
    font-size: 1.10em;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 500px;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-top: black solid; 
    border-bottom: black solid; 
}

#about-krabs-txt{
    margin-right: 200px;
    margin-left: 200px;
    text-align: justify;
    color: rgb(229, 229, 255);
}