html {
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #add8e6;
}

@font-face{
    font-family: Krabby Patty;
    src: url(krabbypatty.ttf);
}

.login-cred{
    position:sticky;
    z-index: auto;
    text-align: center;
}

#log-header{
    text-align: center;
    padding: 10px;
    background-color: #002d48;
    font-family: Krabby Patty;
    color: #e50000;
    letter-spacing: 2px;
    font-size: 60px;
    margin-bottom: 20px;
}

#log-username{
    width:300px;
    height:30px;
    padding: 5px;
    margin-left: 4px;
    margin-bottom: 7px;
}

#log-password{
    width:300px;
    height:30px;
    padding: 5px;
    margin-left: 4px;
    margin-bottom: 7px;
}

#username{
    display: block;
    margin: 10px;
    padding: 5px;
}

#password{
    display: block;
    margin: 10px;
    padding: 5px;
}

.log-avun{
    width:23px;
}

#log-submit{
    margin:10px;
    width: 300px;
    margin-left: 34px;
    font-size: 20px;
    border: 1px solid #000000;
}

#log-submit:hover{
    background: rgba(68, 85, 90, 0.2);
}

.log-head-krabs{
    width: 120px;
    height: 120px;   
    position: relative;
    vertical-align: middle;
}

.credit-link{
    font-size: 10px;
    float: right;
    position: absolute;
    bottom: 5px;
}

.log-avatar{
    padding: 10px;
    height: 300px;
    text-align: center;
}

/*

.anim-bubbles{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:auto;
    transform: translateZ(0);
}

.anim-bubbles li{
    position:absolute;
    list-style: none;
    display: block;
    background-color: white;
    border-radius: 50%;
    bottom: -100px;
    opacity: 0.15;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.anim-bubbles li:nth-child(1){
    width:40px;
    height:40px;
    left:20%;
}

.anim-bubbles li:nth-child(2){
    width:60px;
    height:60px;
    left:40%;
    animation-delay: 2s;
    animation-duration: 17s;
}

.anim-bubbles li:nth-child(3){
    width:10px;
    height:10px;
    left:60%;
    animation-delay: 4s;
    animation-duration: 13s;
} 

    .anim-bubbles li:nth-child(4){
        width:80px;
        height:80px;
        left:80%;
        animation-delay: 1s;
        animation-duration: 22s;
    } 

.anim-bubbles li:nth-child(5){
    width:50px;
    height:50px;
    left:50%;
    animation-delay: 7s;
    animation-duration: 12s;
} 

@keyframes square{
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    } 
    
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}*/
